.body {
    background-image: url("https://assets.newatlas.com/dims4/default/08f9727/2147483647/strip/true/crop/2818x1971+0+0/resize/1373x960!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Fd8%2Ff0%2Ff0ec2c4f4e4aa43915bb656249f2%2Fdepositphotos-171319126-xl-2015.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-color: #ADD8E6;
    margin: auto;
    width: 50%;
    border: 3px solid rgb(0, 109, 128);
    padding: 10px;
    text-align: center;
    color: yellowgreen;
}

.bio {
    width: 500px;
    border: 15px solid cyan;
    padding: 50px;
    margin: 20px;
}

.image {
    width: 300px;
    height: auto;
    border: 1px solid black;
    border-radius: 100%;
    position: fixed; top: 50; right: 50;
}

.video-container {
    position: fixed; bottom: 0; left: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;